.row.col-md-9.margin-top
  .panel.panel-primary
    .panel-heading
      Build Order
    .panel-body
      .row.col-md-6
        = form_for @order, url: confirm_order_path, method: :post do |order_form|

          %h3 Customer Detail
          = order_form.fields_for @customer do |customer_form|
            .form-group
              = customer_form.label :email
              = customer_form.email_field :email, class: 'form-control', required: :true, value: '', placeholder: 'customer1@gmail.com'
            .form-group
              = customer_form.label :name
              = customer_form.number_field :name, class: 'form-control', value: ''
              %h3 Card Details
              = customer_form.fields_for @credit_card do |credit_card_form|
                .form-group
                  = credit_card_form.label :number
                  = credit_card_form.text_field :number, class: 'form-control', required: :true, placeholder: 'Card no'
                .form-group
                  = credit_card_form.label :owner_name
                  = credit_card_form.text_field :owner_name, class: 'form-control', placeholder: 'Name on card'
          %h3 Delivery address
          = order_form.fields_for Address.new do |address_form|
            .form-group
              = address_form.label :street_address
              = address_form.text_field :street_address, class: 'form-control', required: :true
            .form-group
              = address_form.label :city
              = address_form.text_field :city, class: 'form-control'
          = order_form.submit 'Place Order' , class: 'btn btn-primary', required: :true