%table.table.table-striped.table-responsive
  %thead
    %tr
      %th #
      %th Product Name
      %th Quantity
      %th Price(£)
      - if !final_order
        %th Action
  %tbody
    - @order_items.each_with_index do |item, index|
      %tr
        %td= index + 1
        %td= item.product.name
        %td.hidden.order_item_id= item.id
        %td
          .col-md-5
            - if final_order
              = item.quantity
            - else
              = select_tag 'quantity', options_for_select([1,2,3,4,5,6,7,8,9], selected = item.quantity), class: 'form-control', id: 'item_quantity', :onchange => "itemChange()", :style => "width: 70px"

        %td= item.cost.round(2)
        - if !final_order
          %td
            = link_to 'Remove', order_item_path(item), method: :delete, class: "btn btn-danger btn-xs"
    %tr
      %td
      %td Total (cost - discount)
      %td
      %td= @order.total_cost
      %td