- @no_basket = true
.row.col-md-9.margin-left
  .panel.panel-primary
    .panel-heading
      Add Address
    .panel-body
      %h3 Delivery address
      %br
      .row.col-md-6
        - if @address.errors.any?
          #error_explanation
            %h2
              = pluralize(@address.errors.count, "error")
              prohibited this article from being saved:
            %ul
              - @address.errors.full_messages.each do |msg|
                %li= msg

        = form_for :address, url: order_addresses_path(order_id: current_order.id), method: :post do |address_form|
          .form-group
            = address_form.label :street_address
            = address_form.text_field :street_address, class: 'form-control'
          .form-group
            = address_form.label :city
            = address_form.text_field :city, class: 'form-control'
          .form-group
            = address_form.label :state
            = address_form.text_field :state, class: 'form-control'
          = address_form.submit 'Continue' , class: 'btn btn-primary', required: :true