<!DOCTYPE html>
<html>
  <head>
    <title>MyShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <section class="content">
      <div class="inner">
        <section class="sidebar">
          <%= render 'shared/basket' %>
        </section>
        <section>
          <%= yield %>
        </section>
      </div>
    </section>
  </body>
</html>
